h1{font-family: 'Playfair Display SC'; color: black; font-size: 96px;}

.normal{font-family: 'Economica', cursive; font-size: 18; color: grey; display: inline-block; margin-left: 40vw;}
p{font-family: 'raleway'; color: white;}

.f1{margin-left: 40px;margin-right: 50px;width: 25vw;}